<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712968994762-ph7ae8povk54qqa15rqg7k7g4m4ecd3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712968994762-ph7ae8povk54qqa15rqg7k7g4m4ecd3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDcKhZyH-S8ZAeUCe1kf-VrOkVCZkdubiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>712968994762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-para-flutter-fc257</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-para-flutter-fc257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712968994762:ios:db026bb19d270caab69933</string>
</dict>
</plist>